<div id = "container-fluid">
  <div class = "jumbotron center-text">
    <h1>Welcome to Weather Wizard</h1>
    <div class="row">
      <div class="col-md-4">
        <p><%= link_to "City And State", new_city_state_path, id: "city_state" %></p>
      </div>
      <div class="col-md-4">
        <p><%= link_to "Zipcode", new_zipcode_path, id: "zipcode" %></p>
      </div>
      <div class="col-md-4">
        <p><%= link_to "Current Location", new_current_location_path, id: "current_location" %></p>
      </div>
    <div class="row">
  </div>
</div>