<div class = "jumbotron center-text">
  <div>
    <h1 id = "city"></h1>
  </div>
    <div class="row">
    <div class="col-md-4">
      <h3>High</h3>
      <p id= "high"></p>
    </div>
    <div class="col-md-4">
      <h3>Current</h3>
      <p id= "current"></p>
    </div>
    <div class="col-md-4">
      <h3>Low</h3>
      <p id= "low"></p>
    </div>
  </div>
  <%= link_to "Search Again", root_path, id: "home" %>
</div>
